.corpo {
    background-image: linear-gradient(to bottom,beige ,  #ddbffb,#afe4f9);
}

.helena { 
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.helena-name {
    font-family: Raleway;
    font-size: 50px;
    background-image: url(paletacores.jpg);
    background-position: bottom;
    margin: auto;
    padding:0px 40px;
    text-align: center;
    color:saddlebrown;
    text-shadow: 2px 2px black;
}

body {
    background-color: ;
}

.indice {
    text-align: center;
}

#ecf4f8