.corpo {
    background-image: linear-gradient(to bottom, #dcb569, #b3d4be,#336d96);
}

.helena { 
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: black;
}

.helena-name {
    font-family: Raleway;
    font-size: 50px;
    background-image: url(abstrato.jpg);
    background-position: center;
    margin: auto;
    padding:0px 40px;
    text-align: center;
    color:black;
    text-shadow: 2px 2px black;
}

body {
    background-color: ;
}

.indice {
    text-align: center;
}

#ecf4f8