h1 {
    font-family: Lobster; 
    font-size: 40px;
    color:;
    text-align: center;
}

body {
    background-color: seashell;
}

.helena { 
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}